.layout-principal {
    display: flex;
    min-height: 100vh;
}

.layout-principal .layout-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #003366;
    color: white;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    overflow-y: auto;

}

.tituloPagina {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menuForm {
    background-color: #003366;
    color: white;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    top: 0;
    height: 100vh;
}

#menuForm a,
#menuForm .menuitem,
#menuForm .ui-menuitem,
#menuForm .ui-menuitem-link,
#menuForm li {
    display: block;
    width: 100%;
    padding: 8px 5px;
    margin: 0;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.layout-content {
    margin-left: 250px;
    flex-grow: 1;
    padding: 30px;
    background-color: #f8f9fa;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.layout-footer {
    position: fixed;
    bottom: 0;
    left: 250px;
    width: calc(100% - 250px);
    background-color: #003366;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
    font-size: 17px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

